@import '../../scss/variables';

.nav { width: 100%; }

.navbar {
  background-color: rgba($brand-inverse, 0.8)
}

.navbar-brand {
  font-size: 2rem;
  padding-left: 0.75rem;
  
  svg {
    vertical-align: middle;
    path {
      fill: $gray-lightest;
    }
  }
}

.nav-item {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-family: $headings-font-family;
  white-space: nowrap;
}

.navbar-toggler {
  border: none;
  padding-top: 1rem;
  &:focus { outline: none; }
}

.navbar-collapse {
  width: auto !important;
}

.collapse.show {
    clear: both;
    text-align: center;
}

#burger {
  overflow:visible;
  height: 1.66rem;
  
  .burger-ingredient {
    fill: $gray-lightest;
    width: 100%;
    height: 20%;
    transition: transform 500ms, opacity 250ms;
  }
  
  #burger-patty { transform-origin: center center;}
  #burger-top { transform-origin: 10px 10px;}
  #burger-bottom { transform-origin: 10px 90px;}
  
  &.open{
    #burger-patty { opacity: 0; transform: scale(0); }
    #burger-top { transform: rotate(45deg) translate(16.5%, 0px);}
    #burger-bottom { transform: rotate(-45deg) translate(16.5%, 0px);}
  }
  
}