@import 'variables';
@import 'animation';

.shimmer {
  background: linear-gradient(90deg, $gray-lightest, $gray-light, $gray-lightest, white, $gray-lighter, white, $gray-light, $gray-lighter);
  background-size: 400% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmer-anim 5s ease infinite;
  animation-direction: alternate;
}